#ConteinarMaster {
    -fx-border-radius: 10px;
    -fx-border-style: solid;
    -fx-background-color: #3d4550;
    -fx-border-style: double;
    -fx-border-width: 3px;
    -fx-border-color: black;
}
#ContainerChecks {
    -fx-spacing: 20px;
    -fx-padding: 0 0 0 10.0;
}
#CheckProdutos, #CheckMateria_prima, #CheckFornecedor{
     -fx-text-fill: #f6eb5e;
 }
#ButtonBuscar {
-fx-background-color: black;
-fx-text-fill: #f6eb5e;
-fx-border-color: black;
-fx-border-radius: 30px;
-fx-spacing: 10px
-fx-padding: 0 0 0 10.0;
}